In [181]:
import pandas as pd

In [182]:
file_path = 'fl-occupational-wages-agg.xlsx'
sheet_name = 'Miami-Ft. Laud-WPB'

In [183]:
wages = pd.read_excel(file_path, skiprows=5)

In [184]:
wages

,Code,Title,Employment,Mean,Median,Entry*,Exp**,P10,P25,P75,P90
0,00-0000,Total all occupations,2721490,30.47,22.36,14.67,38.37,13.6,16.51,35.17,53.66
1,13-2011,Accountants and Auditors,28910,42.24,38.33,25.85,50.44,23.59,29.71,49.33,64.57
2,27-2011,Actors,630,50.15,21.27,13.98,68.23,11,14.96,77.04,NR
3,15-2011,Actuaries,300,61.78,59.93,35.33,75.01,36.86,38.32,78.3,97.22
4,29-1291,Acupuncturists,NR,36.68,34.55,30.42,39.81,26.67,34.55,36.11,47.02
...,...,...,...,...,...,...,...,...,...,...,...
740,NaN,^Percentile wages are a generalized form of me...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
741,NaN,10th percentile - 10 percent of the population...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
742,NaN,25th percentile – 25 percent of the population...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
743,NaN,75th percentile – 75 percent of the population...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
744,NaN,90th percentile – 90 percent of the population...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [185]:
wages = wages.rename(columns = {'Code':'oes_code', 'Title':'occupation', 'Employment':'employs', 'Mean':'mean', 'Median':'median', 'Entry*':'entry', 'Exp**':'exp', 'P10':'p10', 'P25':'p25', 'P75':'p75', 'P90':'p90'})

In [186]:
wages['employs'] = wages['employs'].replace("NR", 0)

In [187]:
wages

,oes_code,occupation,employs,mean,median,entry,exp,p10,p25,p75,p90
0,00-0000,Total all occupations,2721490.0,30.47,22.36,14.67,38.37,13.6,16.51,35.17,53.66
1,13-2011,Accountants and Auditors,28910.0,42.24,38.33,25.85,50.44,23.59,29.71,49.33,64.57
2,27-2011,Actors,630.0,50.15,21.27,13.98,68.23,11,14.96,77.04,NR
3,15-2011,Actuaries,300.0,61.78,59.93,35.33,75.01,36.86,38.32,78.3,97.22
4,29-1291,Acupuncturists,0.0,36.68,34.55,30.42,39.81,26.67,34.55,36.11,47.02
...,...,...,...,...,...,...,...,...,...,...,...
740,NaN,^Percentile wages are a generalized form of me...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
741,NaN,10th percentile - 10 percent of the population...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
742,NaN,25th percentile – 25 percent of the population...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
743,NaN,75th percentile – 75 percent of the population...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
744,NaN,90th percentile – 90 percent of the population...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [188]:
wages = wages.drop(columns=['p10','p90'])

In [189]:
numeric_columns = [ 'employs', 'mean', 'median', 'entry', 'exp',
        'p25', 'p75']

for column in numeric_columns:
    wages[column] = pd.to_numeric(wages[column], errors='coerce')
    

wages.dtypes

oes_code       object
occupation     object
employs       float64
mean          float64
median        float64
entry         float64
exp           float64
p25           float64
p75           float64
dtype: object

In [190]:
wages['oes_code'] = wages['oes_code'].str.strip()

In [191]:
art_codes = ['27-1011','27-1012','27-1013','27-1014','27-1019','27-1022', '27-1027','27-2011','27-2012', '27-2031','27-2032','27-2041','27-2042','27-2099','27-3043','27-4021','27-4031','27-4032','25-4012','25-4013'] 
wages = wages[wages['oes_code'].isin(art_codes)]

In [192]:
wages

,oes_code,occupation,employs,mean,median,entry,exp,p25,p75
2,27-2011,Actors,630.0,50.15,21.27,13.98,68.23,14.96,77.04
38,27-1011,Art Directors,930.0,47.67,44.24,27.60,57.71,33.34,53.35
40,27-1019,"Artists and Related Workers, All Other",80.0,34.10,25.44,15.29,43.51,19.44,53.74
85,27-4031,"Camera Operators, Television, Video, and Film",540.0,30.99,25.18,15.77,38.60,18.28,38.30
164,27-1012,Craft Artists,0.0,20.65,17.59,14.67,23.64,17.05,25.33
173,25-4012,Curators,230.0,28.69,25.28,19.16,33.45,21.35,31.90
237,27-2099,"Entertainers and Performers, Sports and Relate...",0.0,22.36,17.93,11.89,27.60,12.22,21.06
261,27-1022,Fashion Designers,230.0,30.87,29.69,19.58,36.52,21.61,37.26
266,27-4032,Film and Video Editors,590.0,34.03,32.48,22.23,39.93,24.58,41.41
273,27-1013,"Fine Artists, Including Painters, Sculptors, a...",0.0,27.28,21.03,18.62,31.60,21.03,30.38
480,25-4013,Museum Technicians and Conservators,60.0,24.54,22.78,17.22,28.20,18.27,26.99
481,27-2041,Music Directors and Composers,290.0,53.27,40.19,20.52,69.65,22.41,60.58
483,27-2042,Musicians and Singers,510.0,54.64,49.75,24.12,69.90,27.30,63.87
539,27-4021,Photographers,1220.0,21.44,17.27,14.03,25.14,14.99,24.00
575,27-2012,Producers and Directors,2760.0,40.99,37.29,22.03,50.48,24.06,48.75
635,27-1027,Set and Exhibit Designers,40.0,26.29,23.38,20.71,29.09,23.28,26.71
661,27-1014,Special Effects Artists and Animators,0.0,35.98,32.34,27.19,40.38,28.84,39.28
729,27-3043,Writers and Authors,830.0,30.40,28.15,18.15,36.53,21.09,36.52

In [193]:
wages.reset_index(drop=True, inplace=True)

In [194]:
wages = wages.round(0)

In [195]:
for col in numeric_columns:
    wages[col] = wages[col].astype(int)

In [196]:
wages

,oes_code,occupation,employs,mean,median,entry,exp,p25,p75
0,27-2011,Actors,630,50,21,14,68,15,77
1,27-1011,Art Directors,930,48,44,28,58,33,53
2,27-1019,"Artists and Related Workers, All Other",80,34,25,15,44,19,54
3,27-4031,"Camera Operators, Television, Video, and Film",540,31,25,16,39,18,38
4,27-1012,Craft Artists,0,21,18,15,24,17,25
5,25-4012,Curators,230,29,25,19,33,21,32
6,27-2099,"Entertainers and Performers, Sports and Relate...",0,22,18,12,28,12,21
7,27-1022,Fashion Designers,230,31,30,20,37,22,37
8,27-4032,Film and Video Editors,590,34,32,22,40,25,41
9,27-1013,"Fine Artists, Including Painters, Sculptors, a...",0,27,21,19,32,21,30
10,25-4013,Museum Technicians and Conservators,60,25,23,17,28,18,27
11,27-2041,Music Directors and Composers,290,53,40,21,70,22,61
12,27-2042,Musicians and Singers,510,55,50,24,70,27,64
13,27-4021,Photographers,1220,21,17,14,25,15,24
14,27-2012,Producers and Directors,2760,41,37,22,50,24,49
15,27-1027,Set and Exhibit Designers,40,26,23,21,29,23,27
16,27-1014,Special Effects Artists and Animators,0,36,32,27,40,29,39
17,27-3043,Writers and Authors,830,30,28,18,37,21,37

In [197]:
wages.to_csv('hourly-wages-occupation.csv', index=False)