In [77]:
import pandas as pd

In [78]:
zori = 'Zip_zori_uc_sfrcondomfr_sm_month.csv'

In [79]:
zori_rental_df = pd.read_csv(zori)
zori_rental_df = pd.DataFrame(zori_rental_df)

In [80]:
zori_rental_df = zori_rental_df[zori_rental_df['State'] == 'FL']
zori_rental_df

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2015-01-31,...,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31
121,73221,135,34787,zip,FL,FL,Winter Garden,"Orlando-Kissimmee-Sanford, FL",Orange County,1431.939963,...,2600.191733,2566.318774,2543.262409,2544.189325,2520.550116,2525.586919,2503.267636,2544.794565,2564.770517,2595.719671
131,73233,146,34953,zip,FL,FL,Port Saint Lucie,"Port St. Lucie, FL",Saint Lucie County,NaN,...,2592.913549,2595.375053,2576.310496,2567.180198,2569.946985,2560.878694,2534.375289,2549.340542,2582.019007,2611.050193
132,72362,147,33024,zip,FL,FL,Pembroke Pines,"Miami-Fort Lauderdale-Pompano Beach, FL",Broward County,1318.509286,...,2520.050765,2561.782337,2523.129881,2494.220925,2397.903909,2389.367443,2407.611887,2487.501028,2557.393737,2604.488235
133,72578,148,33411,zip,FL,FL,NaN,"Miami-Fort Lauderdale-Pompano Beach, FL",Palm Beach County,1222.299188,...,2320.407541,2322.850930,2359.910187,2370.157003,2347.627955,2312.087999,2314.139722,2329.546476,2305.517619,2244.965407
167,72363,182,33025,zip,FL,FL,Miramar,"Miami-Fort Lauderdale-Pompano Beach, FL",Broward County,1575.337216,...,2674.836416,2674.775783,2661.236564,2642.272101,2603.997784,2609.199150,2626.230819,2661.367172,2677.684603,2672.115315
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6424,399570,12451,32163,zip,FL,FL,The Villages,"The Villages, FL",Sumter County,NaN,...,NaN,NaN,NaN,NaN,2743.407836,2658.558699,2210.378060,2118.504130,2149.736009,2341.888889
6503,72525,15706,33306,zip,FL,FL,Fort Lauderdale,"Miami-Fort Lauderdale-Pompano Beach, FL",Broward County,NaN,...,2673.901801,2718.856605,2719.715005,2532.836574,2619.008826,2602.564206,2635.720949,2514.085391,2469.022115,2514.277778
6513,73216,16347,34773,zip,FL,FL,Saint Cloud,"Orlando-Kissimmee-Sanford, FL",Osceola County,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2397.500000
6531,72024,17971,32502,zip,FL,FL,Pensacola,"Pensacola-Ferry Pass-Brent, FL",Escambia County,NaN,...,1622.613096,1745.033385,1916.804266,1895.702857,1866.697004,1767.409894,1805.668400,1772.623051,1789.073589,1776.555556
6543,72426,20383,33122,zip,FL,FL,Miami,"Miami-Fort Lauderdale-Pompano Beach, FL",Miami-Dade County,NaN,...,2897.017516,2898.574086,2905.722480,2870.181853,2852.385160,2887.372106,2970.310031,3015.884236,2987.434964,2976.808333

In [81]:
miami_rental_df = zori_rental_df[zori_rental_df['CountyName'] == 'Miami-Dade County']
miami_rental_df

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2015-01-31,...,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31
217,72350,234,33012,zip,FL,FL,Hialeah,"Miami-Fort Lauderdale-Pompano Beach, FL",Miami-Dade County,NaN,...,2318.762481,2299.155020,2353.303286,2328.619061,2336.950347,2342.597893,2310.047288,2351.932214,2356.574453,2436.666667
218,72353,235,33015,zip,FL,FL,Country Club,"Miami-Fort Lauderdale-Pompano Beach, FL",Miami-Dade County,1285.292166,...,2350.079179,2335.836661,2333.490927,2323.291252,2322.402011,2335.681230,2332.635388,2336.265008,2340.844973,2360.198413
221,72488,238,33186,zip,FL,FL,The Crossings,"Miami-Fort Lauderdale-Pompano Beach, FL",Miami-Dade County,1519.381491,...,2705.015504,2708.386723,2683.569249,2721.871962,2713.306305,2729.738257,2704.000459,2715.204890,2737.217305,2774.518058
263,72460,286,33157,zip,FL,FL,Miami,"Miami-Fort Lauderdale-Pompano Beach, FL",Miami-Dade County,1465.040623,...,3011.310246,2982.081336,3023.388401,3049.046759,3060.521501,3016.229933,3014.820887,3035.940538,3109.869670,3125.412821
294,72371,319,33033,zip,FL,FL,Homestead,"Miami-Fort Lauderdale-Pompano Beach, FL",Miami-Dade County,1264.251603,...,2536.245531,2553.275121,2557.290057,2540.592586,2506.960454,2434.277868,2456.611251,2498.258431,2581.827204,2614.230159
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5767,72484,8096,33182,zip,FL,FL,Tamiami,"Miami-Fort Lauderdale-Pompano Beach, FL",Miami-Dade County,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3104.819589,3220.902044,3178.937410,3220.000000
5798,72492,8204,33190,zip,FL,FL,Cutler Bay,"Miami-Fort Lauderdale-Pompano Beach, FL",Miami-Dade County,NaN,...,2736.608611,2762.518728,2846.395875,2801.174056,2742.080829,2708.584247,2764.095877,2876.276014,2918.284774,2868.888889
5815,72435,8249,33132,zip,FL,FL,Miami,"Miami-Fort Lauderdale-Pompano Beach, FL",Miami-Dade County,2061.374868,...,3338.635625,3324.288418,3321.056426,3320.309310,3327.163236,3375.699809,3401.755981,3435.311261,3426.624682,3428.436080
6272,72431,10536,33128,zip,FL,FL,Miami,"Miami-Fort Lauderdale-Pompano Beach, FL",Miami-Dade County,NaN,...,2941.430769,2967.264851,2889.501089,2876.471884,2882.460083,2934.854485,2968.753169,3005.287651,3038.089176,3067.439683
6543,72426,20383,33122,zip,FL,FL,Miami,"Miami-Fort Lauderdale-Pompano Beach, FL",Miami-Dade County,NaN,...,2897.017516,2898.574086,2905.722480,2870.181853,2852.385160,2887.372106,2970.310031,3015.884236,2987.434964,2976.808333

In [82]:
miami_rental_df.columns

Index(['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName',
       'State', 'City', 'Metro', 'CountyName', '2015-01-31',
       ...
       '2023-08-31', '2023-09-30', '2023-10-31', '2023-11-30', '2023-12-31',
       '2024-01-31', '2024-02-29', '2024-03-31', '2024-04-30', '2024-05-31'],
      dtype='object', length=122)

In [83]:
miami_rental_df = miami_rental_df.drop(columns=['RegionID', 'SizeRank', 'RegionType', 'StateName', 'State', 'Metro', 'CountyName', 'City'])

In [84]:
miami_rental_df.rename(columns={'RegionName':'zip_code'}, inplace=True)

In [85]:
miami_rental_df = miami_rental_df.fillna(0)

In [86]:
miami_rental_df.reset_index(drop=True, inplace=True)
miami_rental_df

,zip_code,2015-01-31,2015-02-28,2015-03-31,2015-04-30,2015-05-31,2015-06-30,2015-07-31,2015-08-31,2015-09-30,...,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31
0,33012,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2318.762481,2299.155020,2353.303286,2328.619061,2336.950347,2342.597893,2310.047288,2351.932214,2356.574453,2436.666667
1,33015,1285.292166,1313.746795,1324.786051,1331.275170,1331.288887,1332.533197,1314.537891,1322.910995,1344.052318,...,2350.079179,2335.836661,2333.490927,2323.291252,2322.402011,2335.681230,2332.635388,2336.265008,2340.844973,2360.198413
2,33186,1519.381491,1526.820553,1527.210565,1536.109784,1544.851324,1548.985711,1566.407786,1575.598318,1589.703283,...,2705.015504,2708.386723,2683.569249,2721.871962,2713.306305,2729.738257,2704.000459,2715.204890,2737.217305,2774.518058
3,33157,1465.040623,1468.133916,1446.894027,1472.454450,1477.721134,1506.707634,1511.434295,1526.804505,1575.945852,...,3011.310246,2982.081336,3023.388401,3049.046759,3060.521501,3016.229933,3014.820887,3035.940538,3109.869670,3125.412821
4,33033,1264.251603,1266.481269,1279.911679,1289.525397,1299.963042,1298.672875,1297.522979,1305.586441,1318.736823,...,2536.245531,2553.275121,2557.290057,2540.592586,2506.960454,2434.277868,2456.611251,2498.258431,2581.827204,2614.230159
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,33182,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3104.819589,3220.902044,3178.937410,3220.000000
62,33190,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2736.608611,2762.518728,2846.395875,2801.174056,2742.080829,2708.584247,2764.095877,2876.276014,2918.284774,2868.888889
63,33132,2061.374868,2092.694893,2109.612896,2112.372478,2115.931595,2126.501361,2117.339527,2111.350682,2115.932814,...,3338.635625,3324.288418,3321.056426,3320.309310,3327.163236,3375.699809,3401.755981,3435.311261,3426.624682,3428.436080
64,33128,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2941.430769,2967.264851,2889.501089,2876.471884,2882.460083,2934.854485,2968.753169,3005.287651,3038.089176,3067.439683
65,33122,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2897.017516,2898.574086,2905.722480,2870.181853,2852.385160,2887.372106,2970.310031,3015.884236,2987.434964,2976.808333

In [87]:
exclude_col = 'zip_code'

miami_rental_df.columns = [pd.to_datetime(col, errors='coerce').date() if col != exclude_col else col for col in miami_rental_df.columns]

In [88]:
miami_rental_df

,zip_code,2015-01-31,2015-02-28,2015-03-31,2015-04-30,2015-05-31,2015-06-30,2015-07-31,2015-08-31,2015-09-30,...,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31
0,33012,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2318.762481,2299.155020,2353.303286,2328.619061,2336.950347,2342.597893,2310.047288,2351.932214,2356.574453,2436.666667
1,33015,1285.292166,1313.746795,1324.786051,1331.275170,1331.288887,1332.533197,1314.537891,1322.910995,1344.052318,...,2350.079179,2335.836661,2333.490927,2323.291252,2322.402011,2335.681230,2332.635388,2336.265008,2340.844973,2360.198413
2,33186,1519.381491,1526.820553,1527.210565,1536.109784,1544.851324,1548.985711,1566.407786,1575.598318,1589.703283,...,2705.015504,2708.386723,2683.569249,2721.871962,2713.306305,2729.738257,2704.000459,2715.204890,2737.217305,2774.518058
3,33157,1465.040623,1468.133916,1446.894027,1472.454450,1477.721134,1506.707634,1511.434295,1526.804505,1575.945852,...,3011.310246,2982.081336,3023.388401,3049.046759,3060.521501,3016.229933,3014.820887,3035.940538,3109.869670,3125.412821
4,33033,1264.251603,1266.481269,1279.911679,1289.525397,1299.963042,1298.672875,1297.522979,1305.586441,1318.736823,...,2536.245531,2553.275121,2557.290057,2540.592586,2506.960454,2434.277868,2456.611251,2498.258431,2581.827204,2614.230159
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,33182,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3104.819589,3220.902044,3178.937410,3220.000000
62,33190,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2736.608611,2762.518728,2846.395875,2801.174056,2742.080829,2708.584247,2764.095877,2876.276014,2918.284774,2868.888889
63,33132,2061.374868,2092.694893,2109.612896,2112.372478,2115.931595,2126.501361,2117.339527,2111.350682,2115.932814,...,3338.635625,3324.288418,3321.056426,3320.309310,3327.163236,3375.699809,3401.755981,3435.311261,3426.624682,3428.436080
64,33128,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2941.430769,2967.264851,2889.501089,2876.471884,2882.460083,2934.854485,2968.753169,3005.287651,3038.089176,3067.439683
65,33122,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2897.017516,2898.574086,2905.722480,2870.181853,2852.385160,2887.372106,2970.310031,3015.884236,2987.434964,2976.808333

In [89]:
miami_rental_df = miami_rental_df.T

In [90]:
miami_rental_df

,0,1,2,3,4,5,6,7,8,9,...,56,57,58,59,60,61,62,63,64,65
zip_code,33012.000000,33015.000000,33186.000000,33157.000000,33033.000000,33178.000000,33142.000000,33177.000000,33032.000000,33161.000000,...,33154.000000,33146.000000,33149.000000,33035.000000,33129.000000,33182.000000,33190.000000,33132.000000,33128.000000,33122.000000
2015-01-31,0.000000,1285.292166,1519.381491,1465.040623,1264.251603,1844.666727,0.000000,1445.220427,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2061.374868,0.000000,0.000000
2015-02-28,0.000000,1313.746795,1526.820553,1468.133916,1266.481269,1856.479903,0.000000,1437.368083,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2092.694893,0.000000,0.000000
2015-03-31,0.000000,1324.786051,1527.210565,1446.894027,1279.911679,1849.971919,0.000000,1447.773391,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2109.612896,0.000000,0.000000
2015-04-30,0.000000,1331.275170,1536.109784,1472.454450,1289.525397,1854.979972,0.000000,1462.163417,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2112.372478,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-01-31,2342.597893,2335.681230,2729.738257,3016.229933,2434.277868,3024.869759,2142.841967,2757.310150,2582.520468,2363.312784,...,4373.011210,3613.577147,8173.301715,2213.264664,3566.261797,0.000000,2708.584247,3375.699809,2934.854485,2887.372106
2024-02-29,2310.047288,2332.635388,2704.000459,3014.820887,2456.611251,3010.740941,2195.133870,2864.104781,2672.696822,2355.417459,...,4334.082572,3623.507827,8362.138345,2222.115886,3596.212628,3104.819589,2764.095877,3401.755981,2968.753169,2970.310031
2024-03-31,2351.932214,2336.265008,2715.204890,3035.940538,2498.258431,3038.711323,2321.883538,2833.677065,2666.151290,2332.504922,...,4321.943596,3685.329117,8260.069193,2244.855616,3558.391677,3220.902044,2876.276014,3435.311261,3005.287651,3015.884236
2024-04-30,2356.574453,2340.844973,2737.217305,3109.869670,2581.827204,3056.725678,2381.430769,2893.765429,2828.978738,2354.232188,...,4250.219516,3741.974733,8328.115771,2315.292844,3613.970092,3178.937410,2918.284774,3426.624682,3038.089176,2987.434964
2024-05-31,2436.666667,2360.198413,2774.518058,3125.412821,2614.230159,3076.428385,2358.666667,2904.932412,2837.857143,2429.819444,...,4363.075142,3828.642633,8165.000000,2335.161616,3602.158570,3220.000000,2868.888889,3428.436080,3067.439683,2976.808333

In [93]:
miami_rental_df.columns = miami_rental_df.iloc[0]

In [94]:
miami_rental_df

zip_code,33012.0,33015.0,33186.0,33157.0,33033.0,33178.0,33142.0,33177.0,33032.0,33161.0,...,33154.0,33146.0,33149.0,33035.0,33129.0,33182.0,33190.0,33132.0,33128.0,33122.0
zip_code,33012.000000,33015.000000,33186.000000,33157.000000,33033.000000,33178.000000,33142.000000,33177.000000,33032.000000,33161.000000,...,33154.000000,33146.000000,33149.000000,33035.000000,33129.000000,33182.000000,33190.000000,33132.000000,33128.000000,33122.000000
2015-01-31,0.000000,1285.292166,1519.381491,1465.040623,1264.251603,1844.666727,0.000000,1445.220427,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2061.374868,0.000000,0.000000
2015-02-28,0.000000,1313.746795,1526.820553,1468.133916,1266.481269,1856.479903,0.000000,1437.368083,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2092.694893,0.000000,0.000000
2015-03-31,0.000000,1324.786051,1527.210565,1446.894027,1279.911679,1849.971919,0.000000,1447.773391,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2109.612896,0.000000,0.000000
2015-04-30,0.000000,1331.275170,1536.109784,1472.454450,1289.525397,1854.979972,0.000000,1462.163417,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2112.372478,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-01-31,2342.597893,2335.681230,2729.738257,3016.229933,2434.277868,3024.869759,2142.841967,2757.310150,2582.520468,2363.312784,...,4373.011210,3613.577147,8173.301715,2213.264664,3566.261797,0.000000,2708.584247,3375.699809,2934.854485,2887.372106
2024-02-29,2310.047288,2332.635388,2704.000459,3014.820887,2456.611251,3010.740941,2195.133870,2864.104781,2672.696822,2355.417459,...,4334.082572,3623.507827,8362.138345,2222.115886,3596.212628,3104.819589,2764.095877,3401.755981,2968.753169,2970.310031
2024-03-31,2351.932214,2336.265008,2715.204890,3035.940538,2498.258431,3038.711323,2321.883538,2833.677065,2666.151290,2332.504922,...,4321.943596,3685.329117,8260.069193,2244.855616,3558.391677,3220.902044,2876.276014,3435.311261,3005.287651,3015.884236
2024-04-30,2356.574453,2340.844973,2737.217305,3109.869670,2581.827204,3056.725678,2381.430769,2893.765429,2828.978738,2354.232188,...,4250.219516,3741.974733,8328.115771,2315.292844,3613.970092,3178.937410,2918.284774,3426.624682,3038.089176,2987.434964
2024-05-31,2436.666667,2360.198413,2774.518058,3125.412821,2614.230159,3076.428385,2358.666667,2904.932412,2837.857143,2429.819444,...,4363.075142,3828.642633,8165.000000,2335.161616,3602.158570,3220.000000,2868.888889,3428.436080,3067.439683,2976.808333

In [95]:
miami_rental_df = miami_rental_df.astype(int)

In [96]:
miami_rental_df

zip_code,33012.0,33015.0,33186.0,33157.0,33033.0,33178.0,33142.0,33177.0,33032.0,33161.0,...,33154.0,33146.0,33149.0,33035.0,33129.0,33182.0,33190.0,33132.0,33128.0,33122.0
zip_code,33012,33015,33186,33157,33033,33178,33142,33177,33032,33161,...,33154,33146,33149,33035,33129,33182,33190,33132,33128,33122
2015-01-31,0,1285,1519,1465,1264,1844,0,1445,0,0,...,0,0,0,0,0,0,0,2061,0,0
2015-02-28,0,1313,1526,1468,1266,1856,0,1437,0,0,...,0,0,0,0,0,0,0,2092,0,0
2015-03-31,0,1324,1527,1446,1279,1849,0,1447,0,0,...,0,0,0,0,0,0,0,2109,0,0
2015-04-30,0,1331,1536,1472,1289,1854,0,1462,0,0,...,0,0,0,0,0,0,0,2112,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-01-31,2342,2335,2729,3016,2434,3024,2142,2757,2582,2363,...,4373,3613,8173,2213,3566,0,2708,3375,2934,2887
2024-02-29,2310,2332,2704,3014,2456,3010,2195,2864,2672,2355,...,4334,3623,8362,2222,3596,3104,2764,3401,2968,2970
2024-03-31,2351,2336,2715,3035,2498,3038,2321,2833,2666,2332,...,4321,3685,8260,2244,3558,3220,2876,3435,3005,3015
2024-04-30,2356,2340,2737,3109,2581,3056,2381,2893,2828,2354,...,4250,3741,8328,2315,3613,3178,2918,3426,3038,2987
2024-05-31,2436,2360,2774,3125,2614,3076,2358,2904,2837,2429,...,4363,3828,8165,2335,3602,3220,2868,3428,3067,2976

In [98]:
new_header = miami_rental_df.iloc[0] #grab the first row for the header
miami_rental_df = miami_rental_df[1:] #take the data less the header row
miami_rental_df.columns = new_header #set the header row as the df header

In [99]:
miami_rental_df

zip_code,33012,33015,33186,33157,33033,33178,33142,33177,33032,33161,...,33154,33146,33149,33035,33129,33182,33190,33132,33128,33122
2015-01-31,0,1285,1519,1465,1264,1844,0,1445,0,0,...,0,0,0,0,0,0,0,2061,0,0
2015-02-28,0,1313,1526,1468,1266,1856,0,1437,0,0,...,0,0,0,0,0,0,0,2092,0,0
2015-03-31,0,1324,1527,1446,1279,1849,0,1447,0,0,...,0,0,0,0,0,0,0,2109,0,0
2015-04-30,0,1331,1536,1472,1289,1854,0,1462,0,0,...,0,0,0,0,0,0,0,2112,0,0
2015-05-31,0,1331,1544,1477,1299,1876,0,1466,0,0,...,0,0,0,0,0,0,0,2115,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-01-31,2342,2335,2729,3016,2434,3024,2142,2757,2582,2363,...,4373,3613,8173,2213,3566,0,2708,3375,2934,2887
2024-02-29,2310,2332,2704,3014,2456,3010,2195,2864,2672,2355,...,4334,3623,8362,2222,3596,3104,2764,3401,2968,2970
2024-03-31,2351,2336,2715,3035,2498,3038,2321,2833,2666,2332,...,4321,3685,8260,2244,3558,3220,2876,3435,3005,3015
2024-04-30,2356,2340,2737,3109,2581,3056,2381,2893,2828,2354,...,4250,3741,8328,2315,3613,3178,2918,3426,3038,2987
2024-05-31,2436,2360,2774,3125,2614,3076,2358,2904,2837,2429,...,4363,3828,8165,2335,3602,3220,2868,3428,3067,2976

In [100]:
#maybe this dataset can be used as a time-series 
miami_rental_df.to_csv('miami-rentals-over-time-zipcode.csv', index=True)