In [2]:
#importing pandas library
import pandas as pd

In [3]:
#preparing csv for import
zori = 'Zip_zori_uc_sfrcondomfr_sm_month.csv'

In [5]:
#reading csv into pandas dataframe
zori_rental_df = pd.read_csv(zori)
zori_rental_df = pd.DataFrame(zori_rental_df)

In [6]:
#filtering for Miami-Dade County
miami_rental_df = zori_rental_df[zori_rental_df['CountyName'] == 'Miami-Dade County']

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2015-01-31,...,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31
217,72350,234,33012,zip,FL,FL,Hialeah,"Miami-Fort Lauderdale-Pompano Beach, FL",Miami-Dade County,NaN,...,2318.762481,2299.155020,2353.303286,2328.619061,2336.950347,2342.597893,2310.047288,2351.932214,2356.574453,2436.666667
218,72353,235,33015,zip,FL,FL,Country Club,"Miami-Fort Lauderdale-Pompano Beach, FL",Miami-Dade County,1285.292166,...,2350.079179,2335.836661,2333.490927,2323.291252,2322.402011,2335.681230,2332.635388,2336.265008,2340.844973,2360.198413
221,72488,238,33186,zip,FL,FL,The Crossings,"Miami-Fort Lauderdale-Pompano Beach, FL",Miami-Dade County,1519.381491,...,2705.015504,2708.386723,2683.569249,2721.871962,2713.306305,2729.738257,2704.000459,2715.204890,2737.217305,2774.518058
263,72460,286,33157,zip,FL,FL,Miami,"Miami-Fort Lauderdale-Pompano Beach, FL",Miami-Dade County,1465.040623,...,3011.310246,2982.081336,3023.388401,3049.046759,3060.521501,3016.229933,3014.820887,3035.940538,3109.869670,3125.412821
294,72371,319,33033,zip,FL,FL,Homestead,"Miami-Fort Lauderdale-Pompano Beach, FL",Miami-Dade County,1264.251603,...,2536.245531,2553.275121,2557.290057,2540.592586,2506.960454,2434.277868,2456.611251,2498.258431,2581.827204,2614.230159
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5767,72484,8096,33182,zip,FL,FL,Tamiami,"Miami-Fort Lauderdale-Pompano Beach, FL",Miami-Dade County,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3104.819589,3220.902044,3178.937410,3220.000000
5798,72492,8204,33190,zip,FL,FL,Cutler Bay,"Miami-Fort Lauderdale-Pompano Beach, FL",Miami-Dade County,NaN,...,2736.608611,2762.518728,2846.395875,2801.174056,2742.080829,2708.584247,2764.095877,2876.276014,2918.284774,2868.888889
5815,72435,8249,33132,zip,FL,FL,Miami,"Miami-Fort Lauderdale-Pompano Beach, FL",Miami-Dade County,2061.374868,...,3338.635625,3324.288418,3321.056426,3320.309310,3327.163236,3375.699809,3401.755981,3435.311261,3426.624682,3428.436080
6272,72431,10536,33128,zip,FL,FL,Miami,"Miami-Fort Lauderdale-Pompano Beach, FL",Miami-Dade County,NaN,...,2941.430769,2967.264851,2889.501089,2876.471884,2882.460083,2934.854485,2968.753169,3005.287651,3038.089176,3067.439683
6543,72426,20383,33122,zip,FL,FL,Miami,"Miami-Fort Lauderdale-Pompano Beach, FL",Miami-Dade County,NaN,...,2897.017516,2898.574086,2905.722480,2870.181853,2852.385160,2887.372106,2970.310031,3015.884236,2987.434964,2976.808333

In [83]:
#dropping irrelevant columns
miami_rental_df = miami_rental_df.drop(columns=['RegionID', 'SizeRank', 'RegionType', 'StateName', 'State', 'Metro', 'CountyName', 'City'])

In [84]:
#changing region name to zip code
miami_rental_df.rename(columns={'RegionName':'zip_code'}, inplace=True)

In [85]:
#filling NaN values with 0
miami_rental_df = miami_rental_df.fillna(0)

In [86]:
#resetting index
miami_rental_df.reset_index(drop=True, inplace=True)
miami_rental_df

,zip_code,2015-01-31,2015-02-28,2015-03-31,2015-04-30,2015-05-31,2015-06-30,2015-07-31,2015-08-31,2015-09-30,...,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31
0,33012,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2318.762481,2299.155020,2353.303286,2328.619061,2336.950347,2342.597893,2310.047288,2351.932214,2356.574453,2436.666667
1,33015,1285.292166,1313.746795,1324.786051,1331.275170,1331.288887,1332.533197,1314.537891,1322.910995,1344.052318,...,2350.079179,2335.836661,2333.490927,2323.291252,2322.402011,2335.681230,2332.635388,2336.265008,2340.844973,2360.198413
2,33186,1519.381491,1526.820553,1527.210565,1536.109784,1544.851324,1548.985711,1566.407786,1575.598318,1589.703283,...,2705.015504,2708.386723,2683.569249,2721.871962,2713.306305,2729.738257,2704.000459,2715.204890,2737.217305,2774.518058
3,33157,1465.040623,1468.133916,1446.894027,1472.454450,1477.721134,1506.707634,1511.434295,1526.804505,1575.945852,...,3011.310246,2982.081336,3023.388401,3049.046759,3060.521501,3016.229933,3014.820887,3035.940538,3109.869670,3125.412821
4,33033,1264.251603,1266.481269,1279.911679,1289.525397,1299.963042,1298.672875,1297.522979,1305.586441,1318.736823,...,2536.245531,2553.275121,2557.290057,2540.592586,2506.960454,2434.277868,2456.611251,2498.258431,2581.827204,2614.230159
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,33182,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3104.819589,3220.902044,3178.937410,3220.000000
62,33190,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2736.608611,2762.518728,2846.395875,2801.174056,2742.080829,2708.584247,2764.095877,2876.276014,2918.284774,2868.888889
63,33132,2061.374868,2092.694893,2109.612896,2112.372478,2115.931595,2126.501361,2117.339527,2111.350682,2115.932814,...,3338.635625,3324.288418,3321.056426,3320.309310,3327.163236,3375.699809,3401.755981,3435.311261,3426.624682,3428.436080
64,33128,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2941.430769,2967.264851,2889.501089,2876.471884,2882.460083,2934.854485,2968.753169,3005.287651,3038.089176,3067.439683
65,33122,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2897.017516,2898.574086,2905.722480,2870.181853,2852.385160,2887.372106,2970.310031,3015.884236,2987.434964,2976.808333

In [87]:
#changing all column names except zip code to dates
exclude_col = 'zip_code'

miami_rental_df.columns = [pd.to_datetime(col, errors='coerce').date() if col != exclude_col else col for col in miami_rental_df.columns]

In [89]:
#transposing dataframe so the zip codes are the columns and the dates are the rows
miami_rental_df = miami_rental_df.T

In [93]:
#making the first row the column names
miami_rental_df.columns = miami_rental_df.iloc[0]

In [95]:
#changing all data to integers
miami_rental_df = miami_rental_df.astype(int)

In [98]:
#making sure the first row becomes the header
new_header = miami_rental_df.iloc[0] 
miami_rental_df = miami_rental_df[1:] 
miami_rental_df.columns = new_header

In [100]:
#saving dataset as csv 
miami_rental_df.to_csv('miami-rentals-over-time-zipcode.csv', index=True)